@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --color-brand-bg: #09090f;
  --color-brand-surface: #080d1c;
  --color-brand-card: #0a1020;
  --color-brand-border: #0c2340;
  --color-brand-primary: #0369a1;
  --color-brand-accent: #38bdf8;
  --color-brand-hover: #075985;
  --color-brand-tint: #e0f2fe;

  --animate-shine: shine 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;

  @keyframes shine {
    0% {
      transform: translateX(-100%) skewX(-15deg);
    }

    50% {
      transform: translateX(100%) skewX(-15deg);
    }

    100% {
      transform: translateX(200%) skewX(-15deg);
    }
  }
}

/* Base styles using the brand colors */
body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-tint);
  font-family: var(--font-sans);
  margin: 0;
}

@utility no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}